* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
    height: 100px;
}

.box {
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 700px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    position: relative;
    right: 20px;
    top: 45px;
    width: 900px;


}

.cont1 {
    position: relative;
    left: 70px;
    top: 70px;
    display: flex;


}

.cont2 {
    display: flex;
    margin-top: 40px;
}

.cont3 {
    margin-top: 40px;
    position: relative;
    left: 70px;
    bottom: 70px;
    display: flex;

}

.cont4 {
    display: flex;
    position: relative;
    bottom: 100px;
}

.cont5 {
    display: flex;
    position: relative;
    left: 70px;
    bottom: 130px;
}

.cont6 {
    display: flex;
    position: relative;
    bottom: 160px;
}

.square {
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    margin-left: 40px;
}

.square1 {
    background-color: #3b82f6;
}

.square2 {
    background-color: #23c55e;
}

.square3 {
    background-color: #e9b309;
}

.square4 {
    background-color: #f04444;
}

.square5 {
    background-color: #eb489b;
}